# Ignore compiled binaries
*.exe
*.dll

# Ignore logs and temporary files
*.log
*.tmp

# Ignore node_modules directory
/node_modules/

# Ignore configuration files with sensitive information
config.json

# Ignore .env file
*.env

#ignore database file
*test.db

# ignore vscode congif
*.vscode

*commit.txt




